### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
total_players = purchase_data['SN'].nunique()
total_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
number_of_unique_items = purchase_data["Item ID"].nunique()
number_of_unique_items

179

In [4]:
average_price = purchase_data["Price"].mean()
average_price_formated =np.round(average_price,2)
average_price_formated

3.05

In [5]:
number_of_purchases = purchase_data["Purchase ID"].count()
number_of_purchases

780

In [6]:
total_revenue = purchase_data["Price"].sum()
total_revenue

2379.77

In [7]:
purchasing_analysis= pd.DataFrame({"Number of Unique Items" :[number_of_unique_items],
                            "Average Price": [average_price_formated],
                            "Number of Purchases" :[number_of_purchases],
                           "Total Revenue":[total_revenue]})
purchasing_analysis.style.format({"Average Price":"${:.2f}", "Total Revenue":"${:.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [8]:
# total male count
total_male_count = purchase_data.groupby(['Gender']).get_group(('Male'))
unique_male_count= len(total_male_count['SN'].unique())
unique_male_count

484

In [9]:

#female count
total_female_count = purchase_data.groupby(['Gender']).get_group(('Female'))
unique_female_count= len(total_female_count['SN'].unique())
unique_female_count

81

In [10]:
#other/undisclosed count
total_other_count = purchase_data.groupby(['Gender']).get_group(('Other / Non-Disclosed'))
unique_other_count= len(total_other_count['SN'].unique())
unique_other_count

11

In [11]:
#Percentage of Players
total_gender_count = unique_male_count + unique_female_count + unique_other_count
percent_male= round((unique_male_count/total_gender_count)*100,2)
percent_female= round((unique_female_count/total_gender_count)*100,2)
percent_other = round((unique_other_count/total_gender_count)*100,2)

In [12]:
#Creating data frame table
gender_data_df = pd.DataFrame({
          "Total Count":[unique_male_count, unique_female_count, unique_other_count],
           "Percentage of Players":[percent_male, percent_female, percent_other],
        "Category":["Male", "Female", "Other/Non-Disclosed"]})

gender_data_df = gender_data_df.set_index("Category")

# Format dataframe columns
gender_data_df["Percentage of Players"] = gender_data_df["Percentage of Players"].map("{:.2f}%".format)
gender_data_df

                     Total Count Percentage of Players
Category
Male                         484                84.03%
Female                        81                14.06%
Other/Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
#Purchase count male
purchasing_male = purchase_data.groupby(['Gender']).get_group(('Male'))
purchasing_male_count= len(total_male_count['Purchase ID'].unique())
purchasing_male_count

652

In [14]:
#Purchase count female
purchasing_female = purchase_data.groupby(['Gender']).get_group(('Female'))
purchasing_female_count= len(total_female_count['Purchase ID'].unique())
#purchasing_female_count

In [15]:
#Purchase count Other/Non-disclosed
purchasing_other_count = purchase_data.groupby(['Gender']).get_group(('Other / Non-Disclosed'))
purchasing_other_count= len(total_other_count['Purchase ID'].unique())
purchasing_other_count

15

In [16]:
# Average Purchase Price
female_avg_price = purchase_data.loc[purchase_data["Gender"]=="Female", "Price"].mean()
male_avg_price = purchase_data.loc[purchase_data["Gender"]=="Male", "Price"].mean()
other_avg_price = purchase_data.loc[purchase_data["Gender"]=="Other / Non-Disclosed", "Price"].mean()

In [17]:
# Total Purchase Value
female_tot_value = purchase_data.loc[purchase_data["Gender"]=="Female", "Price"].sum()
male_tot_value = purchase_data.loc[purchase_data["Gender"]=="Male", "Price"].sum()
other_tot_value = purchase_data.loc[purchase_data["Gender"]=="Other / Non-Disclosed", "Price"].sum()

In [18]:
# Average Purchase Total 
female_avg_purchase = female_tot_value / unique_female_count
male_avg_purchase = male_tot_value / unique_male_count
other_avg_purchase = other_tot_value / unique_other_count

In [19]:
# Create dataframe
purchasing_data_df = pd.DataFrame(
[[unique_female_count, female_avg_price, female_tot_value, female_avg_purchase],
[unique_male_count, male_avg_price, male_tot_value, male_avg_purchase],
[unique_other_count, other_avg_price, other_tot_value, other_avg_purchase]],
index=["Female","Male", "Other / Non-Disclosed"],
columns=["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Purchase Total Per Person"])

In [20]:
# Format dataframe columns
purchasing_data_df["Average Purchase Price"] = purchasing_data_df["Average Purchase Price"].map("${:.2f}".format)
purchasing_data_df["Total Purchase Value"] = purchasing_data_df["Total Purchase Value"].map("${:.2f}".format)
purchasing_data_df["Avg Purchase Total Per Person"] = purchasing_data_df["Avg Purchase Total Per Person"].map("${:.2f}".format)

purchasing_data_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Purchase Total Per Person
Female,81,$3.20,$361.94,$4.47
Male,484,$3.02,$1967.64,$4.07
Other / Non-Disclosed,11,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [21]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 150]
bin_labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

In [22]:
# Create new dataframe
age_demographics = purchase_data[['Age','SN']].drop_duplicates()
# Categorize the existing players using the age bins 
age_demographics['Age Group'] = pd.cut(age_demographics['Age'], bins, labels=bin_labels)

In [23]:
# Total count
age_count = age_demographics['Age Group'].value_counts()

# Percentage of players

age_percentage = np.round(age_count / total_players * 100, decimals=2).map("{:.2f}%".format)

In [24]:
# Create and display summary data frame
age_demographics = pd.DataFrame({'Total Count': age_count, 
                                 'Percentage of Players': age_percentage})
age_demographics.sort_index()

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [25]:
# Categorize purchasing data using age_bins
purchase_data['Age Group'] = pd.cut(purchase_data['Age'], bins, labels=bin_labels)

In [26]:
# Purchase count
purchase_count = purchase_data.groupby(['Age Group']).count()['Purchase ID']

# Avg purchase price
avg_price = purchase_data.groupby(['Age Group']).mean()['Price']

# Total purchase value
total_value = purchase_data.groupby(['Age Group']).sum()['Price']

# Avg total purchase per person
avg_purchase = total_value / age_demographics['Total Count']

In [27]:
# Create and dispay purchasing analysis (age) summary data frame 
age_purchase_df = pd.DataFrame({'Purchase Count': purchase_count.map('{:,}'.format),
                   'Average Purchase Price': avg_price.map('${:,.2f}'.format),
                   'Total Purchase Value': total_value.map('${:,.2f}'.format),
                   'Avg Total Purchase per Person': avg_purchase.map('${:,.2f}'.format)})
age_purchase_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [28]:
# Purchase count
purchase_count = purchase_data.groupby(['SN']).count()['Purchase ID']

# Avg purchase price
ave_purchase_price = purchase_data.groupby(['SN']).mean()['Price']

# Total purchase value
total_purchase = purchase_data.groupby(['SN']).sum()['Price']

In [29]:
# Create data frame using above values
top_spender_df = pd.DataFrame({'Purchase Count': purchase_count,
                               'Average Purchase Price': ave_purchase_price,
                               'Total Purchase Value': total_purchase})

# Sort by total purchase value
top_spender_sorted_df = top_spender_df.sort_values('Total Purchase Value', ascending=False)

# Format avg purchase price and total purchase value
top_spender_sorted_df['Average Purchase Price'] = top_spender_sorted_df['Average Purchase Price'].map('${:,.2f}'.format)

top_spender_sorted_df['Total Purchase Value'] = top_spender_sorted_df['Total Purchase Value'].map('${:,.2f}'.format)

# Set values and return dataframe of top five spenders
top_spender_sorted_df = top_spender_sorted_df.loc[:,['Purchase Count',
                                                     'Average Purchase Price',
                                                     'Total Purchase Value']]
top_spender_sorted_df.head(5)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.41               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [30]:
# Retrieve the Item ID, Item Name, and Item Price columns and create data frame
item_data = purchase_data.loc[:,['Item ID', 'Item Name', 'Price']]

item_df = pd.DataFrame(item_data)

item_df.head()

   Item ID                                  Item Name  Price
0      108  Extraction, Quickblade Of Trembling Hands   3.53
1      143                          Frenzied Scimitar   1.56
2       92                               Final Critic   4.88
3      100                                Blindscythe   3.27
4      131                                       Fury   1.44

In [31]:

# Purchase count
item_id_count = item_data.groupby(['Item ID', 'Item Name']).count()['Price']

# Total purchase value
total_item_value = item_data.groupby(['Item ID', 'Item Name']).sum()['Price']

In [43]:
# Create data frame for popular itms
popular_df = pd.DataFrame({'Purchase Count': item_id_count,
                           'Total Purchase Value': total_item_value})

# Merge the data frames using Item ID
popular_items_df = item_df.merge(popular_df, how='left', on=['Item ID'])

# Sort by Purchase Count
pop_sorted=popular_items_df.sort_values(['Purchase Count'], ascending=[False])

# Format Price and Total Purchase Value columns
pop_sorted['Price']=pop_sorted['Price'].map('${:,.2f}'.format)
#type(pop_sorted['Price'])
#print(type(pop_sorted['Price']))
pop_sorted['Total Purchase Value'] = pop_sorted['Total Purchase Value'].map('${:,.2f}'.format)

# Drop duplicate rows based on Item ID and display the top five products
pop_sorted.drop_duplicates(['Item ID']).head(5)
#popular_items_df.head()

,Item ID,Item Name,Price,Purchase Count,Total Purchase Value
722,92,Final Critic,$4.88,13,$59.99
62,178,"Oathbreaker, Last Hope of the Breaking Storm",$4.23,12,$50.76
504,82,Nirvana,$4.90,9,$44.10
56,108,"Extraction, Quickblade Of Trembling Hands",$3.53,9,$31.77
538,132,Persuasion,$3.19,9,$28.99

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [46]:
# Sort by total purchase value and remove duplicated rows
profitable_df = popular_items_df.sort_values(["Total Purchase Value"], ascending=[False])

# Format Price and Total Purchase Value columns
profitable_df['Price']=profitable_df['Price'].map('${:,.2f}'.format)

profitable_df['Total Purchase Value'] = profitable_df['Total Purchase Value'].map('${:,.2f}'.format)

profitable_df.drop_duplicates(['Item ID']).head(5)

,Item ID,Item Name,Price,Purchase Count,Total Purchase Value
712,92,Final Critic,$4.88,13,$59.99
706,178,"Oathbreaker, Last Hope of the Breaking Storm",$4.23,12,$50.76
274,82,Nirvana,$4.90,9,$44.10
741,145,Fiery Glass Crusader,$4.58,9,$41.22
634,103,Singed Scalpel,$4.35,8,$34.80